body{
    background-color: rgb(225, 245, 200);
    margin: 0px;
    /* padding: 0px; border: 2px solid red; */

}

.photo img{
    width: 160px;
    height: 160px;
    border-radius: 70px;

}
.photo {
    /* border: 2px solid red; */
    display: inline-block;
    position: absolute;
    left: 430px;
    top: 25px;

    
}
.name {
    /* border: 2px solid greenyellow; */
    display: block;
    margin: auto;
    width: 37%;
    position: absolute;
    top: 70px;
    left: 600px;
   
}
.name h2{
    /* font-weight: 400; */
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
}
.container {

    border: 2px solid black;
    border-radius: 10px;
    margin: 240px 480px ;
    padding: 20px;
    width: 33%;

}
.container li{
    list-style: none;
    padding: 4px;
    font-size: 20px;
}